.Encabezado {
  background-color: #4CAF50;
  padding: 2rem;
}

.logo img {
  height: 70px;
}

.centered-menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.centered-menu li {
  margin-left: 1rem;
}
