.producto-individual {
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .producto-individual img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  
  .producto-individual .price {
    font-size: 1rem;
  }
  
  .original-price {
    text-decoration: line-through;
    color: #888;
  }
  
  .discount-price {
    color: red;
    font-weight: bold;
  }
  